.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: rgb(57, 4, 83);
}

a {
  color: antiquewhite;
  text-decoration: none;
  margin-left: 15px;
  transition: 0.5s;
  cursor: pointer;
}
/* logo effect */
a:hover {
  color: rgb(255, 179, 3);
}

.out:hover {
  color: rgb(255, 179, 3);
}

.logo {
  opacity: 0;
  animation: fadeIn 2s ease-in-out 1.8s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
